<style>
    #Cart:hover {color:#fd7e14!important;
     cursor: pointer;}
    #element1 {display:inline-block;margin-right:10px;} 
a:active{color: red;}
</style>
{{!-- <link href="lib/noty.css" rel="stylesheet">
<link href="lib/themes/semanticui.css" rel="stylesheet"> --}}
{{!-- <script src="lib/noty.js"></script> --}}

<section >

  


{{!-- {{selectedCategory}} --}}

     <div class="card-header" >
                    {{!-- <h5  id="element1" class="btn btn-link">All Products</h5> --}}
                    <a  id="element1" href="/products" class="btn btn-link">All Products</a>
                    {{#each categories}}
{{!--                    
{{#ifCond this.CategoryName selectedCategory }}
  
{{else}}
   
{{/ifCond}} --}}


                    <a style="display:inline-block;" class="btn btn-link" href="/getProductsByCategory/{{this.CategoryName}}" >{{this.CategoryName}}</a>
                    {{/each}}
                </div>

    {{!-- <h2 class="mt-3" style="text-align:center;">Products</h2> --}}
 <div class="row p-3 m-3">
    {{#each products}}
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 mt-2">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0">
                    <a href="/getProductDetails/{{this._id}}">
                    <img style="width: 40px;height:200px" src="/productImages/{{this._id}}.jpg"  alt="" class="w-100 card-img-top">
                   </a>
                    <div class="p-1">
                        <h5 class="mb-0">{{this.ProductName}}
                        </h5>
                        <p class="small text-muted">Rs.{{this.Price}}
                       <i id="Cart" class="fas fa-shopping-cart fa-lg pl-0 float-right pr-1 text-dark" data-toggle="tooltip" data-placement="bottom" title="Add to cart" onclick="AddToCart('{{this._id}}')"></i>
                      </p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
 </div>

</section>

<script>
   function AddToCart(ProductId)
{
$.ajax({
    url    : '/AddToCart/'+ProductId,
    method : 'get' ,
    success: (response)=>{
           Swal.fire({
  icon: 'success',
  title: 'Product Added To Cart',
  showConfirmButton: true
})
//new Noty({
  //  theme: 'semanticui',
  //  layout: 'topCenter',
  //  text: 'Product Added To Cart'
   
//}).show();

        //alert("hi")
       if(response.status == true)
        {
           
            let cartCount = $('#spnCartCount').html()
            cartCount     = parseInt(cartCount) + 1
            $('#spnCartCount').html(cartCount)
             
        }
    }
})
}

   
</script>

  
