<section id="hero" class="d-flex align-items-center justify-content-center">
 <div class="container" data-aos="fade-up">

 <div class="card-header" style="color: #ffc451"> 
  {{#if products}}
 <h3>{{selectedCategory}} of {{selectedVendor}} </h3>
                    
  <ul class="list-group list-group-horizontal-lg " style=" display: flex;
  justify-content: center;">
  {{#each categories}}
  <li class="btn btn-warning ml-2"  ><a style="color: black;" href="/getProductsByCategory/{{this.CategoryName}}/{{../selectedVendor}}">{{this.CategoryName}}</a></li>
 
  {{/each}}
</ul>
                    {{else}}
                     <h3>No data available</h3>
                     {{/if}}
                     
                    

                   


   </div>

 {{!-- <div class="row p-3 m-3">
    {{#each products}}
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 mt-2">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0">
                    <a href="/getProductDetails/{{this._id}}">
                    <img style="width: 40px;height:200px" src="/productImages/{{this._id}}.jpg"  alt="" class="w-100 card-img-top">
                   </a>
                    <div class="p-1">
                        <h5 class="mb-0">{{this.ProductName}}
                        </h5>
                        <p class="small text-muted">Rs.{{this.Price}}
                       <i id="Cart" class="fas fa-shopping-cart fa-lg pl-0 float-right pr-1 text-dark" data-toggle="tooltip" data-placement="bottom" title="Add to cart" onclick="AddToCart('{{this._id}}')"></i>
                      </p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
 </div> --}}

     
<div class="row">
    {{#each products}}
   <div class="col-md-4 mt-4  card-container">
      <div class="card text-center product p-4 pt-5 border-0 h-100 rounded-0">
      <a href="/getProductDetails/{{this._id}}">  <img style="height:250px" class="img-fluid d-block mx-auto" src="/productImages/{{this._id}}.jpg" ></a> 
        <div class="card-body p-4 py-0 h-xs-440p">
          <h5 class="card-title font-weight-semi-bold mb-3 w-xl-220p mx-auto">{{this.ProductName}}</h5>
          <p class="price">Rs.{{this.Price}}</p>
        </div>
        <p class="btn w-100 px-4 mx-auto">
          <input type="submit" class="btn btn-dark btn-lg w-100" name="add-button" value="Add to cart" onclick="AddToCart('{{this._id}}')">
        </p>
      </div>
    </div>
    {{/each}}
</div>
 









</div>
</section>

<script>
   function AddToCart(ProductId)
{
$.ajax({
    url    : '/AddToCart/'+ProductId,
    method : 'get' ,
    success: (response)=>{
      if(response.status == true){
           Swal.fire({
  icon: 'success',
  title: 'Product Added To Cart',
  showConfirmButton: true
})
      }
      if(response.loginErr == true)
{
  window.location.pathname = "/login"
}
//new Noty({
  //  theme: 'semanticui',
  //  layout: 'topCenter',
  //  text: 'Product Added To Cart'
   
//}).show();

        //alert("hi")
       if(response.status == true)
        {
           
            let cartCount = $('#spnCartCount').html()
            cartCount     = parseInt(cartCount) + 1
            $('#spnCartCount').html(cartCount)
             
        }
    }
})
}

   
</script>

  
